//
//  fx-uat-config.xcconfig
//  f(x)Wallet
//
//  Created by Pundix54 on 2020/11/26.
//  Copyright © 2020 Andy.Chan 6K. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
 
GCC_PREPROCESSOR_DEFINITIONS = $(inherited)
FX_APP_BUNDLE_ID = com.pundix.fx.connect
FX_APP_ICON = AppIconUAT
CONFIG_FLAG = UAT
API_BASE_URL = api.example.com.uat
