<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029124708400-a7051vnrdj1sipn31akrks137g7fu7su.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029124708400-a7051vnrdj1sipn31akrks137g7fu7su</string>
	<key>API_KEY</key>
	<string>AIzaSyBrjDRFuySZH_4l9QBRgUfus0WO1zH65po</string>
	<key>GCM_SENDER_ID</key>
	<string>1029124708400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pundi.fx.connect</string>
	<key>PROJECT_ID</key>
	<string>xwallet-test</string>
	<key>STORAGE_BUCKET</key>
	<string>xwallet-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029124708400:ios:67a627f80acf5f16f575f5</string>
	<key>DATABASE_URL</key>
	<string>https://xwallet-test.firebaseio.com</string>
</dict>
</plist>